# lab2
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container{
    color: antiquewhite;
    background-color: gray;
    padding: 20px 0;
    display :flex;
    justify-content: center;

}
.menu{
    border: 1px solid  antiquewhite;
    width: 900px;
    display: flex;
    justify-content: space-between ;
}
.link{
    border: 1px solid #ffffff;
    justify-content: space-between0;
    width: 150px;
}
.header-container{
    color:#350404
    background-color rgb(91, 0, 209);
    display: flex;
    justify-content: space-between ;
    
}
.header{
    widows: 900px; 
    height: 300px;
    justify-content: space-between;
    align-items: center;
}
.subscribe,.social{
    align-self: flex-end;
    margin-bottom: 20px;

}
.photo-grid{
    width: 1000px;
   display: flex; 
   flex-wrap: wrap;
   justify-content: center;
}
.footer{
    display: flex;
    justify-content: space-between;

}
.footer-item{
    border: honeydew;
    background-color: ivory;
    height: 200px;
    flex :1;
}
.footer-two{
    flex:2;
    background-color: lawngreen;

}
.first-item{
    order: 1;
}
.se-item{
    order: 2;
}
.last_item{
    order: -1;
}
